#msg-list {
    height: 75vh;
    overflow: auto;
    position:relative;
    padding-top: 30px;
    border-radius: 25px;
    border: 1px solid black;
}

#channel-list {
    height: 80vh;
    overflow: auto;
}

#user-list {
    height: 30vh;
    overflow: auto;
}

.active-users{
  margin-right: 5px;
  font-size: 20px;
}

.list-group-mine .list-group-item {
    position: relative;
    margin-right: 10px;
    margin-left:auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 50%;
    height: auto;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}


.list-group-mine .list-group-item:hover {
  background-color: #60AFFE;
}

.input-style{
  margin-right:10px;
}

.list-group-sender {
    position: relative;
    margin-right: auto;
    margin-left:10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #CCFFCC;
    width: 50%;
    height: auto;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #00CD00;
    border-radius: 10px;
}

.list-group-sender:hover {
  background-color: #00CD00;
}


#MessageOptionsModalTitle{
  width: 100%;
  height:auto;
}
