<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BootStrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

    <!-- JS Libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='index.js') }}"></script>


    <title>Flack</title>
</head>

<body>


    <div class="toast"  role="alert" aria-hidden="true" id="myToast" aria-atomic="true" style="position: absolute; top: 0; right: 0; margin-right:50px; margin-top:20px;">
      <div class="toast-header">
        <svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                      <rect fill="#007aff" width="100%" height="100%" /></svg>
        <strong class="mr-auto">Notification</strong>
        <small class="text-muted">1 min ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="toast_message" class="toast-body">
        New User joined the server
      </div>
    </div>


    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-3">
                <h1>Channels</h1>
                <ul id="channel-list" class="list-group"></ul>
                    <div class="input-group">
                            <button id="add-channel" class="btn btn-primary" data-toggle="modal" data-target="#newChannelModal">+ New</button>
                    </div>
            </div>

            <div class=col-sm-9>
                <h1 id="channel-label">Messages</h1>
                <ul id="msg-list" class="list-group list-group-mine"></ul>
                <form id="msg-form" class="mt-3 mb-3">
                    <div class="input-group">
                        <input type="text" id="msg-text" class="form-control input-style" autocomplete="off" placeholder="Enter a message..." autofocus style="margin-right:10px;">
                        <div class="input-group-append">
                            <button id="msg-send" type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- This is the modal to get the username from the user.  -->
    <div class="modal show" tabindex="1" role="dialog" aria-labelledby="username" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="usernameModal-title-1">Enter your name here: </h5>
                </div>
                <div class="modal-body">
                    <form id="username-form">
                        <input class="form-control" type="text" name="username" id="username-text">
                        <hr>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- This is the modal to get the username from the user.  -->
    <div class="modal show" id="newChannelModal" tabindex="1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newChannelModal-title-1">Channel Creation form</h5>
                </div>
                <div class="modal-body">
                    <form id="newChannel-form">
                        <input class="form-control" type="text" name="channel_name" id="channel_name">

                        <div class="radio">
                          <label><input type="radio" name="optradio" checked> Public</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio" > Private</label>
                        </div>
                        <p id="channel_security_info">Public channels can be viewed by everyone on the server. Messages are NOT end to end encrypted. </p>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Create Channel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





</body>

</html>
